body {
  padding: 0;
  margin: 0;
}
body .header {
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
body .header .span1 {
  color: white;
  font-size: 69px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
}
body .header .span2 {
  color: white;
  font-size: 69px;
  margin-top: 80px;
  font-weight: 500;
}
body .line1 {
  display: flex;
  width: 100%;
}
body .line1 .box1 {
  height: 90vh;
  width: 33.9%;
}
body .line1 .box1 img {
  height: 100%;
  width: 100%;
}
body .line1 .box2 {
  height: 90vh;
  width: 33.9%;
}
body .line1 .box2 img {
  height: 100%;
  width: 100%;
}
body .line1 .box3 {
  height: 90vh;
  width: 33%;
}
body .line1 .box3 img {
  height: 100%;
  width: 100%;
}