body {
  padding: 0;
  margin: 0;
}
body .header {
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
body .header .span1 {
  color: white;
  font-size: 69px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
}
body .header .span2 {
  color: white;
  font-size: 69px;
  margin-top: 80px;
  font-weight: 500;
}
body .line1 {
  display: flex;
  width: 100%;
}
body .line1 .box {
  height: 90vh;
  width: 33.33%;
  position: relative;
}
body .line1 .box .imageDiv:hover + .overlay {
  display: block;
}
body .line1 .box .imageDiv img {
  height: 100%;
  width: 100%;
}
body .line1 .box .overlay {
  top: 0;
  left: 0;
  background-color: #FFE777;
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}
body .line1 .box .overlay a {
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60%;
  text-decoration: none;
  color: black;
}
body .line1 .box {
  height: 90vh;
  width: 33.33%;
}
body .line1 .box img {
  height: 100%;
  width: 100%;
}
body .line1 .box {
  height: 90vh;
  width: 33.33%;
}
body .line1 .box img {
  height: 100%;
  width: 100%;
}

.line1 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.line1 .box {
  height: 90vh;
  width: 33.33%;
}
.line1 .box img {
  height: 100%;
  width: 100%;
}
.line1 .box {
  height: 90vh;
  width: 33.33%;
}
.line1 .box img {
  height: 100%;
  width: 100%;
}
.line1 .box {
  height: 90vh;
  width: 33.33%;
}
.line1 .box img {
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 233px;
  background-color: #FFE777;
  gap: 100px;
}
.footer .text {
  font-size: 33px;
  font-family: serif;
  font-weight: -50;
}
.footer .icons {
  margin-left: 230px;
  margin-top: 20px;
}
.footer .icons a {
  color: black;
  gap: 10px;
  padding: 5px;
}

.rights {
  background-color: white;
  height: 20vh;
}
.rights .pwrapper {
  height: 8vh;
  width: 30%;
  margin-top: 40px;
  margin-left: 260px;
}
.rights .pwrapper p {
  font-size: 12px;
  font-weight: lighter;
}