body{
    padding: 0;
    margin: 0;
    .header{
        height: 82vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .span1{
            color: white;
        font-size: 69px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
        margin-top: 80px;
        }
        .span2{
            color: white;
        font-size: 69px;
        margin-top: 80px;
        font-weight: 500; 
        }
    }
    .line1{
        display: flex;
        width: 100%;
        .box{
            height: 90vh;
            width: 33.33%;
            position: relative;
    
            .imageDiv{
                &:hover + .overlay{
                    display: block;
                }
                img{
                    height: 100%;
                    width: 100%;   
                }

            }
            .overlay{
                top: 0;
                left: 0;
                background-color: #FFE777;
                height: 100%;
                width: 100%;
                display: none;
                position: absolute;
                p{
                    font-size: smaller;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 60%;
                  

                }
                
            }
        }
        .box{
            height: 90vh;
            width: 33.33%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .box{
            height: 90vh;
            width: 33.33%;
            img{
                height: 100%;
                width: 100%;
            } 
            }
        }

    }
    .line1{
        display: flex;
        width: 100%;
        justify-content: center;
        .box{
            height: 90vh;
            width: 33.33%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .box{
            height: 90vh;
            width: 33.33%;
            img{
                height: 100%;
                width: 100%;  
            }
        }
        .box{
            height: 90vh;
            width: 33.33%;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 233px;
        background-color: #FFE777;
        gap: 100px;
        .text{
            font-size: 33px;
            font-family: serif;
            font-weight: -50;
        }
        .icons{
            margin-left: 230px;
            margin-top: 20px;
            a{
                color: black;
                gap: 10px;
                padding: 5px;   
            }
        }
        }
    .rights{
        background-color: white;
        height: 20vh;
        .pwrapper{
            height: 8vh;
            width: 30%;
            margin-top: 40px;
            margin-left: 260px;
            p{
                font-size: 12px;
                font-weight: lighter;
            }
        
    }

    }